* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  background-image: url("images/godzilla_galaxy.jpg");
  background-color: #373638;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  line-height: 1.75;
}

h1 {
  text-align: center;
  color: white;
  padding: 15 px;
}

h2 {
  color: white;
  padding: 10px;
}

#planet-type {
  text-align: center;
  margin: 20px;
  padding: 30px;
  display: inline-block;
}

#info-sidebar {
  color:aliceblue;
  background-color: rgb(55, 56, 110);
  width: 35%;
  height: 60%;
  float: right;
  position: static;
  margin-top: 6em;
  margin-right: 8em;
  border: #FAFFCD, 10px;
  border-radius: 8px;
  border-style: groove;
  padding: 25px;
  overflow: auto;
}

#info-sidebar h2 {
  text-align: center;
}

#welcome-image {
  width: 210px;
  float: left;
  margin-top: 0px;
  margin-right: 70px;
}

#userInput {
  text-align: center;
  width: 60%;
  padding: 8px 8px;
  margin: 8px 8px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  border-radius: 8px 8px 8px 8px;
}

#submit-button {
  display: none;
}

#bb8 {
  justify-self: center;
  height: 9em;
  padding: 5px;
}

#disclaimer-logo {
  width: 175px;
  opacity: 0.8;
}

#sources-etc {
  width: 80%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;  
  padding: 20px;
  text-align: center;
  color: rgb(238, 228, 228);
  background-color: rgb(23, 28, 41);
  border-radius: 8px;
}

.planet-img {
  width: 200px;
  margin-top: 15px;
}
.planet-img:hover {
  opacity: 0.5;
  margin: 0.5em;
  width: 250px;
}

.planet-header {
  width: 25%;
  position: absolute;
  top: 5em;
  left: 12em;
}

.people-picture {
  padding: 35px;
  width: 450px;
  margin-top: 50px;
  margin-left: 75px;
  float: left;
}

.footer {
  background-color: rgb(13, 14, 32);
  opacity: 0.8;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  clear: right;
}

.logo {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: rgb(236, 167, 193)
}
a:active {
  color: #7a859b;  
}
a:visited {
  color: #a2a4aa;
  text-decoration: none;
}
a:hover {
  color: #FAFFCD;
  cursor: pointer;
}

.exposition {
  width: 80%;
  margin-left: auto;
  margin-right: auto;  
  padding: 20px;
  text-align: center;
  color: rgb(238, 228, 228);
  background-color: rgb(23, 28, 41);
  border-radius: 8px;
}