* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("images/tadpole_sq.jpg");
  background-color: #696767;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

h1 {
  text-align: center;
  color: white;
  margin: 15 px;
}

h2 {
  color: white;
  margin: 15px;
}


#planet-type {
  justify-content: center;
  clear: both;
}

#info-sidebar {
  color:aliceblue;
  background-color: rgb(48, 49, 139);
  float: right;
  width: 30%;
  position: relative;
  top: 5em;
  right: 12em;
  bottom: 8em;
  border:silver, 5px;
  margin-right: 0.5em;
  padding: 1em;
  justify-content: space-between;
}

#welcome {
  position: relative;
  top: 1.5em;
}

#bb8 {
  justify-self: center;
  height: 9em;
}

#down-arrow {
  width: 10px;
}

.planet-img {
  width: 150px;
}
.planet-img:hover {
  opacity: 0.5;
  margin: 0.5em;
  width: 175px;
}

.planet-header {
  width: 25%;
  z-index: 1;
  position: absolute;
  top: 5em;
  left: 12em;
}

.exposition {
  width: 100%;
  top: 200px;
  padding: 32px;
  margin: 15px;
  color: rgb(238, 228, 228);
}
.select-box {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.select-box:hover {
  background-color: rgb(92, 93, 165);
}

.select-box .options-container {
 background-color: rgb(31, 29, 65);
 max-width: 0; 
 width: 100%;
 /* opacity: 0; */ 
 transition: all 0.4s;
 border-radius: 8px;
 overflow: hidden;
 order: 1;
}

.selected {
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: rgb(31, 29, 65);
  
}


.select-box .options, .selected {
  padding: 12px 24px;
  cursor: pointer;
}
.select-box label {
  cursor: pointer;
}

.select-box .options .radio {
  display: none;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;

}

.select-box.options-container::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(13, 14, 32);
  border-radius: 0 8px 8px 0;
}
.select-box.options-container::-webkit-scrollbar-thumb {
  background-color: rgb(92, 93, 165);
  border-radius: 0 8px 8px 0;
}
