* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("images/godzilla_galaxy.jpg");
  background-color: #696767;
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1.75;
}

h1 {
  text-align: center;
  color: white;
  margin: 15 px;
}

h2 {
  color: white;
  margin: 15px;
  padding: 10px;
}

#planet-type {
  text-align: center;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#info-sidebar {
  color:aliceblue;
  background-color: rgb(55, 56, 110);
  width: 35%;
  height: 60%;
  float: right;
  position: static;
  margin-top: 6em;
  margin-right: 8em;
  border: #FAFFCD, 10px;
  border-radius: 8px;
  border-style: groove;
  padding: 2.5em;
  overflow: auto;
}

#info-sidebar h2 {
  text-align: center;
}

#welcome {
  position: relative;
  top: 1.5em;
  background-color: rgb(31, 29, 65);
}

#userInput {
  text-align: center;
  width: 60%;
  padding: 12px 16 px;
  margin: 8px 8px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  border-radius: 8px 8px 8px 8px;
}

#bb8 {
  justify-self: center;
  height: 9em;
  padding: 15px;
}

#down-arrow {
  width: 10px;
}

.planet-img {
  width: 150px;
}
.planet-img:hover {
  opacity: 0.5;
  margin: 0.5em;
  width: 175px;
}

.planet-header {
  width: 25%;
  z-index: 1;
  position: absolute;
  top: 5em;
  left: 12em;
}

.people-picture {
  padding: 35px;
  margin-top: 75px;
  margin-left: 75px;
  float: left;
}

.footer {
  background-color: rgb(13, 14, 32);
  width: 100%;
  bottom: 0;
  text-align: center;
}

a:link {
  text-decoration: none;
}
a:active {
  color: #7a859b;  
}
a:visited {
  color: #a2a4aa;
  text-decoration: none;
}
a:hover {
  color: #FAFFCD;
  cursor: pointer;
}

.exposition {
  width: 100%;
  top: 200px;
  padding: 32px;
  margin: 15px;
  text-align: center;
  color: rgb(238, 228, 228);
  background-color: black;
  border-radius: 8px;
}